.before-after-slider {
  position: relative;
  min-height: 256px;

  @media (min-width: @tablet-width) {
    z-index: 2;
    min-height: 512px;
  }

  @media (min-width: @desktop-width) {
    min-width: 560px;
  }
}

.before-after-slider__photo {
  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.before-after-slider__container {
  display: flex;
  justify-content: center;

  &--before {
    position: absolute;
    left: 50%;
    top: 1px;
    transform: translate(-100%, 0);
    width: 50%;
  }

  &--after {
    position: absolute;
    left: 50%;
    transform: translate(0, 0);
    top: 1px;
    width: 50%;
  }
}

.before-after-slider__container img {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 0);
}

.before-after-slider__container--before img {
  left: 100%;
  width: 280px;
  height: 256px;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.before-after-slider__container--after img {
  left: 0;
  width: 280px;
  height: 256px;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.before-after-slider__box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 256px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    height: 512px;
  }
}

.before-after-slider__button {
  position: absolute;
  z-index: 3;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);

  &::after {
    position: absolute;
    content: "";
    z-index: -1;
    height: 256px;
    width: 4px;
    border-radius: 2px;
    background-color: @color-ordinary-grey-second;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: @tablet-width) {
      height: 512px;
    }
  }
}
