.button {
  .font-parameters(@color-white; 16px; 20px);
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: @color-green;
  min-height: 40px;
  display: grid;
  place-items: center;
  border: none;

  &--show-all {
    color: @color-dark-grey-second;
    background-color: @color-light-grey;
  }

  &--promo {
    .font-parameters(@color-white; 20px; 26px;);
    min-height: 54px;
  }

  &:hover {
    background-color: @color-green-hover;
  }

  &:active {
    background-color: @color-green-hover;
    color: fade(@color-white, 30%);
  }
}
