.developer {
  max-width: 280px;
  text-decoration: none;
  display: grid;
  grid-template-columns: 130px 130px;
  gap: 20px;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  &:focus-visible {
    outline: none;

    .developer-logo svg {
      color: @color-green;
    }
  }

  @media (min-width: @tablet-width) {
    min-width: 168px;
    grid-template-columns: 118px 27px;
    gap: 23px;
  }
}

.developer__name-container {
  justify-self: start;
  display: grid;
  grid-template-columns: 120px;

  @media (min-width: @tablet-width) {
    margin-left: 5px;
  }
}

.developer__name {
  &:hover {
    color: @color-dark-grey-second;
  }

  &:active {
    opacity: 0.3;
  }
}
