.example {
  background-color: #eaeaea;
  .padding(25px 0 0;);
}

.example__container {
  .container();
}

.example__title {
  .font-parameters(@color-black; 36px; 40px;);
  font-weight: 400;
  .margin-padding(0 0 40px; 0;);
}

.example__description {
  .font-family("Lato", sans-serif;);
  color: @color-dark-grey-second;
  .padding(0 0 20px;);
  .margin(0;);
}
