.example {
  background-color: @color-expamle-background;
  .padding(25px 0 40px;);

  @media (min-width: @tablet-width) {
    position: relative;
    background-color: @color-white;
    .padding(45px 0 100px;);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: 462px;
      background-color: @color-expamle-background;
    }
  }

  @media (min-width: @desktop-width) {
    .padding(0;);

    &::before {
      background-color: @color-light-grey;
    }
  }
}

.example__container {
  .container();

  @media (min-width: @tablet-width) {
    .container-tablet();
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
    display: flex;
    justify-content: space-between;
  }
}

.example__text {
  @media (min-width: @tablet-width) {
    .margin(0 0 103px;);
  }

  @media (min-width: @desktop-width) {
    position: relative;
    z-index: 2;
    .margin(0 0 75px;);
  }
}

.example__title {
  .font-parameters(@color-black; 36px; 40px;);
  font-weight: 400;
  .margin-padding(0 0 40px; 0;);

  @media (min-width: @tablet-width) {
    .font-parameters(@color-black; 60px; 60px;);
    .margin(0 0 60px;);
  }

  @media (min-width: @desktop-width) {
    .margin(0 0 146px;);
  }
}

.example__description {
  .font-family("Lato", sans-serif;);
  color: @color-dark-grey-second;
  .margin-padding(0 0 20px; 0;);

  @media (min-width: @tablet-width) {
    .font-parameters(@color-dark-grey-second; 16px; 24px;);
    .margin(0 0 55px;);
  }

  @media (min-width: @desktop-width) {
    .margin(0 0 69px;);
    max-width: 433px;
  }
}

.example__slider {
  @media (min-width: @tablet-width) {
    text-align: center;
  }
}
