.footer {
  background-color: @color-light-grey;
}

.footer__container {
  .container();
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    .container-tablet();
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.footer__logo {
  .margin(40px 0 20px;);

  @media (min-width: @tablet-width) {
    .margin(0;);
  }
}

.footer__social {
  .margin-padding(20px 0; 0;);

  @media (min-width: @tablet-width) {
    .margin-padding(0;0;);
  }
}

.footer__developer {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    .margin-padding(0;0;);
    min-height: 37px;
  }
}
