.gift {
  .padding(35px 0 35px;);

  @media (min-width: @tablet-width) {
    .padding(69px 0 75px;);
  }

  @media (min-width: @desktop-width) {
    .padding(0;);
    align-self: end;
  }
}

.gift__container {
  position: relative;
  min-height: 290px;
  max-width: 280px;
  margin: 0 auto;
  background-color: rgba(104, 183, 56, 0.85);
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    align-items: center;
    justify-content: end;
    min-height: 200px;
    min-width: 707px;
  }

  @media (min-width: @desktop-width) {
    justify-content: center;
    align-items: start;
    min-height: 288px;
    min-width: 245px;
  }
}

.gift__image-container {
  position: absolute;
  background-image: url("../img/cat-case-mobile.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.15;


  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-case-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/cat-case-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-case-tablet@2x.jpg");
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/cat-case-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cat-case-desktop@2x.jpg");
      }
    }
  }
}

.gift__description {
  z-index: 2;
  .margin-padding(187px 0 0 ; 0;);
  .font-family("Lato", sans-serif;);
  .font-parameters(@color-white; 16px; 20px;);
  font-weight: 400;
  max-width: 161px;
  text-align: center;
  bottom: 43px;

  &::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 80px;
    background-image: url("../img/gift-icon-mobile.svg");
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: @tablet-width) {
    .margin-padding(0 125px 0 0; 0;);
    text-align: left;

    &::before {
      left: 116px;
    }
  }

  @media (min-width: @desktop-width) {
    .margin-padding(185px 0 0 ; 0;);
    text-align: center;

    &::before {
      top: 57px;
      left: 124px;
    }
  }
}
