.header {
  background-color: @color-white;
  border-bottom: 1px solid @color-header-border-grey;

  &--no-border {
    border-bottom: none;
  }

  @media (min-width: @tablet-width) {
    min-width: 704px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    min-width: 1220px;
  }
}

.header__container {
  @media (min-width: @tablet-width) {
    .container-tablet();
    padding-top: 25px;
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
    padding-top: 55px;
  }
}

.header__navigation {
  @media (min-width: @tablet-width) {
    min-height: 50px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;

    .header__navigation-list {
      .margin(0 0 12px 0;);
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 59px;

    .header__navigation-list {
      .margin(16px 0 0 0;);
    }
  }
}

.header__navigation-logo {
  display: flex;
  align-items: center;

  @media (min-width: @desktop-width) {
    z-index: 4;
  }
}

.header__navigation-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-self: start;

  @media (max-width: @mobile-only-width) {
    .container();
    .padding(13px 20px 14px 20px;);
  }
}

.header__navigation-list {
  @media (min-width: @tablet-width) {
    align-self: baseline;
    .margin(13px 0 0 0;);
  }

  @media (min-width: @desktop-width) {
    align-self: flex-end;
  }
}

.header__navigation--closed .header__navigation-button {
  position: relative;
  height: 20px;
  width: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: @color-black;
    top: 0;
    left: 0;
    box-shadow: 0 8px 0 0 @color-black, 0 16px 0 0 @color-black;
  }
}

.header__navigation--opened .header__navigation-button {
  position: relative;
  height: 18px;
  width: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 1.5px;
    background-color: @color-black;
    top: 8px;
    left: -3px;
  }

  &::before {
    transform: rotate(47deg);
  }

  &::after {
    transform: rotate(-47deg);
  }
}

.header__navigation--closed .header__navigation-list {
  @media (max-width: @mobile-only-width) {
    display: none;
  }
}

.header__navigation--opened .header__navigation-list {
  @media (max-width: @mobile-only-width) {
    position: absolute;
    z-index: 6;
    width: 100%;
  }
}

.header__navigation-button {
  margin-right: 1px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__navigation--nojs {
  .header__navigation-button {
    display: none;
  }

  .header__navigation-list {
    position: static;
    display: block;
  }
}
