.location__container {
  .margin(0 auto;);
}

.location__map {
  width: 100%;
  display: block;
  min-height: 362px;

  @media (min-width: @tablet-width) {
    min-height: 400px;
  }
}

.location__noscript {
  width: 100%;
}

.location__noscript-photo {
  display: block;
  width: 100%;
  height: auto;
}
