.location__container {
  .margin(0 auto;);
  /* max-width: 320px; */

  /* @media (min-width: @tablet-width) {
    max-width: 768px;
  } */

  /* @media (min-width: @desktop-width) {
    max-width: 1440px;
  } */
}

.location__map-image {
  width: 100%;
  display: block;
  min-height: 362px;

  @media (min-width: @tablet-width) {
    min-height: 400px;
  }
}
