.location__container {
  .margin(0 auto;);

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.location__map {
  width: 100%;
  display: block;
  min-height: 362px;

  @media (min-width: @tablet-width) {
    min-height: 400px;
  }
}

.location__noscript-photo {
  display: block;
  width: 100%;
  height: auto;

  @media (min-width: @desktop-width) {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }
}
