.logo-icon[href] img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo-icon__container {
  margin-right: 56px;

  @media (min-width: @tablet-width) {
    margin-right: 13px;
  }
}
