.navigation-page__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: @tablet-width) {
    .container();
    padding-top: 13px;
    padding-bottom: 14px;
  }
}

.navigation-page__list {
  max-width: 320px;
  margin: 0 auto;
  /* display: none; */
}

.navigation-page__logo {
  display: flex;
  align-items: center;
}

.navigation-page__button {
  display: grid;
  place-items: center;
  height: 24px;
  width: 24px;
  border: none;
  background-image: url("../img/nav-button-open.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
