.navigation {
  .list-style-reset();
  min-width: 320px;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.navigation__link {
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 66px;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: @color-black;
  background-color: @color-white;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 1px solid @color-light-grey-third;

  &--last-item {
    border-bottom: 1px solid @color-light-grey-third;
  }

  &--catalog-border {
    border-bottom: 1px solid @color-header-border-grey;
  }

  @media (min-width: @tablet-width) {
    min-width: max-content;
    min-height: min-content;
    border: none;
    padding: 0 0 10px;
  }
}
