.programm-selecting {
  .first-section-padding-top();
  overflow: hidden;
}

.programm-selecting__container {
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    .container-tablet();
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
    padding-bottom: 79px;
  }
}

.programm-selecting__title {
  .margin-padding(0 auto 37px; 0 20px;);
  .font-parameters(@color-black; 36px; 36px);
  max-width: 320px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    max-width: none;
    .margin-padding(0 0 54px; 0 40px;);
    .font-size(60px; 60px);
  }

  @media (min-width: @desktop-width) {
    .margin-padding(0 0 55px; 0;);
  }
}

.programm-selecting__description {
  .margin-padding(0 0 39px; 0 0 0 20px;);
  .font-parameters(@color-black; 14px; 18px;);
  text-transform: uppercase;
  max-width: 250px;

  @media (min-width: @tablet-width) {
    .margin-padding(0 0 66px; 0 0 0 40px;);
    .font-size(20px; 30px;);
    max-width: 363px;
  }

  @media (min-width: @desktop-width) {
    .padding(0;);
  }
}

.programm-selecting__form {
  @media (min-width: @tablet-width) {
    .padding(0 40px;);
  }

  @media (min-width: @desktop-width) {
    .padding(0;);
  }
}
