.programms__list {
  .list-styles(none; 0; 0;);
}

.programms__item {
  background-color: @color-light-grey;
  .margin-padding(20px; 21px 20px 18px 20px;);
}

.programm__title {
  .font-parameters(@color-black; 24px; 37px;);
  .margin-padding(30px 0  29px; 0 0 0 70px;);
  font-weight: 400;
  text-transform: uppercase;
}

.programm__description {
  .font-family("Lato", sans-serif;);
  .margin-padding(0 0 38px; 0;);
}

.programm__link {
  margin-bottom: 18px;
}
