.programm {
  background-color: @color-light-grey;
  .padding(30px 20px 20px;);

  @media (min-width: @tablet-width) {
    min-height: 372px;
  }

  @media (min-width: @desktop-width) {
    min-height: 374px;
    max-width: 570px;
  }
}

.programm__title {
  .font-parameters(@color-black; 24px; 37px;);
  .margin-padding(0 0 29px; 0 0 0 70px;);
  font-weight: 400;
  text-transform: uppercase;
}

.programm__description {
  .font-family("Lato", sans-serif;);
  .margin-padding(0 0 40px; 0;);
}
