.promo {
  position: relative;
  .padding(27px 0 20px;);

  @media (max-width: @mobile-only-width) {
    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 302px;
      top: 0;
      background-color: fade(@color-green, 85%);
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      height: 302px;
      width: 100%;
      top: 0;
      background-image: url("../img/index-promo-bg-mobile.jpg");
      background-position: top center;
      background-size: 100% auto;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-promo-bg-mobile@2x.jpg");
      }
    }
  }

  @media (min-width: @tablet-width) {
    .padding(65px 0 0;);
  }

  @media (min-width: @desktop-width) {
    position: static;
    .padding(29px 0 82px;);

    &::before {
      content: "";
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 694px;
      right: 0;
      top: 0;
      background: linear-gradient(to right, @color-white 50%, fade(@color-green, 85%) 50%);
    }

    &::after {
      z-index: 2;
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 694px;
      background-image: url("../img/index-bgimage-desktop.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }
}

.promo__container {
  .container();
  display: grid;

  @media (min-width: @tablet-width) {
    .container-tablet();
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
    grid-template-columns: 447px 47px 552px;
    grid-template-rows: 81px auto 54px 184px;
  }
}

.promo__text-description {
  z-index: 2;
  text-align: center;

  @media (min-width: @tablet-width) {
    max-width: 416px;
    text-align: left;
    margin-left: 90px;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    z-index: 4;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    .margin(0 0 52px;);
    margin-left: 80px;
  }
}

.promo__headline {
  .margin-padding(0 0 25px; 0;);
  .font-parameters(@color-white; 36px; 36px);
  font-weight: 400;

  @media (min-width: @tablet-width) {
    .margin(0 0 40px;);
    .font-parameters(@color-black; 60px; 60px);
  }
}

.promo__catchphrase {
  .margin-padding(0 0 29px; 0);
  .font-parameters(@color-white; 14px; 14px);
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    .margin(0 0 50px;);
    .font-parameters(@color-black; 20px; 20px);
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.promo__product-photo-container {
  z-index: 2;
  .margin-padding(0; 0 0 3px;);

  @media (min-width: @tablet-width) {
    .padding(0;);
    min-height: 609px;
    order: 2;
    margin-top: -83px;
  }

  @media (min-width: @desktop-width) {
    z-index: 4;
    margin-top: 0;
    min-height: 499px;
    min-width: 522px;
    grid-column: 2 / 4;
    grid-row: 1 / 6;
  }
}

.promo__product-photo {
  display: block;

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  z-index: 2;
  .margin-padding(0; 5px 5px;);

  @media (min-width: @tablet-width) {
    z-index: 3;
    position: relative;
    max-width: 244px;
    margin-left: 90px;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    font-weight: 400;
    min-width: 244px;
    margin-left: 80px;
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    align-self: start;
  }
}
