.show-more-card {
  padding: 25px 20px;
}

.show-more-card__title {
  .margin-padding(53px 0 8px; 0;);
  .font-parameters(@color-black-second; 16px; 20px;);
  font-weight: 400;
  text-align: center;
}

.show-more-card__description {
  .font-family("Lato", sans-serif;);
  .margin-padding(0 0 21px; 0;);
  .font-parameters(@color-dark-grey-second; 12px; 16px;);
  text-align: center;
}

