.social-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 28px);
  gap: 24px;
  align-items: center;
}

.social-list__item {
  display: grid;
  place-items: center;
}

.social-list__link svg {
  color: @color-icon-dafault;

  .footer-icon-states();
}
