.font-face(@font-family; @font-weight; @font-style; @font-src) {
  font-family: @font-family;
  font-weight: @font-weight;
  font-style: @font-style;
  src: @font-src;
  font-display: swap;
}

.list-style-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-styles(@list-style; @margin; @padding;) {
  list-style: @list-style;
  margin: @margin;
  padding: @padding;
}

.margin-padding(@margin; @padding;) {
  margin: @margin;
  padding: @padding;
}

.padding(@padding;) {
  padding: @padding;
}

.margin(@margin;) {
  margin: @margin;
}

.font-family(@font-family;) {
  font-family: @font-family;
}

.font-parameters(@color: @color-black; @font-size; @line-height;) {
  color: @color;
  font-size: @font-size;
  line-height: @line-height;
}

.font-size(@font-size; @line-height;) {
  font-size: @font-size;
  line-height: @line-height;
}

.container() {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
}

.container-tablet() {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 768px;
}

.container-desktop() {
  margin: 0 auto;
  padding: 0 110px;
  max-width: 1440px;
}

.form-label-flexstyle() {
  min-height: 30px;
  padding-left: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-label-flexstyle-tablet() {
  min-height: 40px;
  padding-left: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-control-appearancestyle() {
  font-family: inherit;
  text-transform: uppercase;
  padding: 13px 15px 12px;
  border: 1px solid @color-input-border;
}

.first-section-padding-top() {
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 74px;
  }
}

.footer-icon-states {
  &:hover {
    color: @color-green;
  }

  &:active {
    color: @color-green;
    opacity: 0.3;
  }
}

.form__control-element-state {
  &:hover {
    border-color: @color-ordinary-grey;
  }

  &:focus-visible {
    outline: 1px solid @color-dark-grey-second;
    border-color: @color-dark-grey-second;
  }
}

.show-more-card-icon {
  content: "";
  position: absolute;
  background-color: @color-icon-show-more;
  width: 30px;
  top: 15px;
  left: 50%;
}
